.page-createVideoGame{     
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/img/Home.jpg");
    background-size: cover;/* contain */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container-button{
        width: 90px;
        height: 70px;
        background-color: black;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        .back{
            color: white;
            font-size: 2rem; 
            margin-left: 44px;
            margin-top: 27px;
        }
    }
}