.page-createVideoGame{     
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/img/Home.jpg");
    background-size: cover;/* contain */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container-button{
        width: 90px;
        height: 70px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        .back{
            color: white;
            font-size: 2rem;
            margin-left: 9px;
        }
    }
}