.page-detail_video_game{
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/img/Home.jpg");
    background-size: cover;/* contain */
    background-repeat: no-repeat;
    background-position: center;
    display: flex; 
    align-items: center;
    flex-direction: column;
 
}