.ComponentHead{
    width: 79%; 
    height: 30vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    img{
        filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 1));
    }
}
.compBody-Home{
    width: 79%; 
}
// padding: 4% 6%;
